# fly.toml app configuration file generated for storia on 2025-12-17T09:26:34-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'storia'
primary_region = 'iad'
kill_signal = 'SIGTERM'

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'storia.fly.dev'
  PORT = '8080'
  PHX_SERVER = 'true'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
